---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const projects = await getCollection("work");
---

<BaseLayout
  title="My Work | Zach Gottlieb"
  description="Learn about Zach Gottlieb's most recent projects"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero title="My Work" align="start" />
      <Grid>
        {
          projects.map((project) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
  </div>
</BaseLayout>

<style>
  .wrapper {
    margin-top: 2rem; /* Add consistent spacing between header and content */
  }

  .mb-8 {
    margin-bottom: 2rem; /* Consistent spacing beneath the title */
  }

  h1 {
    font-size: 2rem; /* Consistent title size */
    text-align: center; /* Center-align titles */
  }
</style>
