---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const projects = await getCollection("work");
---

<BaseLayout
  title="My Work | Zach Gottlieb"
  description="Learn about Zach Gottlieb's most recent projects"
>
  <div class="stack gap-20">
    <main class="container stack gap-8">
      <Hero
        title="My Work"
        tagline="A collection of my data visualization and web application development work over my career. Professional and personal projects may be included. Click into each project to read more details!"
        align="start"
      />
      <Grid>
        {
          projects.map((project) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
  </div>
</BaseLayout>

<style>
  .container {
    max-width: 1200px; /* Ensure consistent width */
    margin: 0 auto; /* Center align the content */
    padding: 0 1rem; /* Add padding for smaller screens */
  }

  .wrapper {
    margin-top: 2rem; /* Add consistent spacing between header and content */
  }

  .mb-8 {
    margin-bottom: 2rem; /* Consistent spacing beneath the title */
  }

  h1 {
    font-size: 2rem; /* Consistent title size */
    text-align: center; /* Center-align titles */
  }

  .view-all-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray-300);
    border: 1px solid var(--gray-300);
    border-radius: 0.25rem;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.3s ease;
    text-align: center;
  }

  .view-all-button:hover,
  .view-all-button:focus {
    color: var(--accent-regular);
    border-color: var(--accent-regular);
    background-color: var(--gray-900);
  }
</style>
